.header__nav{
    display: flex;
    overflow: hidden;
}

.header__logo{
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header__logo-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
}

.header__logo h4{
    padding-left: 30px;
    color: white;
    z-index: 2;
    font-size: x-large;
    font-size: 42px;
}


.header__menu,
.header__menu-mobile {
  flex: 1.128;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: transform .3s ease-in-out;
  text-transform: uppercase;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}

.hero-content__review img{
  width: 42px;
  width: 42px;
  object-fit: contain;
}

.hero-content__review p{
font-family: 12px;
font-weight: 200;
line-height: 34px;
font-family: var(--plus-jakarta-sans);
color: var(--secondary-color);
opacity: 0.8;

}

.header__menu li:hover{
  text-decoration: underline;
  transform: translateY(-4px);

}